.nav
  display: flex
  flex-direction: row
  margin-top: 1.5rem
.nav-item-prev, .nav-item-next
  display: flex
  flex: 50%
.nav-next-icon
  margin-left: 0.7rem
.nav-prev-icon
  margin-right: 0.7rem
.nav-item-prev
  justify-content: flex-start
  text-align: left
.nav-item-next
  justify-content: flex-end
  text-align: right
.nav-link
  display: flex
  flex-direction: row
  align-items: center
  padding: 0 0.5rem
.nav-prev-icon, .nav-next-icon
  color: var(--text-light-color)
  width: 0.65rem
.nav-label
  font-size: 0.9rem
  font-weight: 500
  line-height: 1.6rem
  color: var(--text-light-color)
.nav-title
  font-size: 1rem
  font-weight: 500
  line-height: 1.2rem
  color: var(--text-color)

.nav
  span
    align-self: center
.nav-item-normal, .nav-item-current
  border-radius: .5rem
  padding-left: 13.25px
  padding-right: 13.25px
  padding-top: 7.5px
  padding-bottom: 7.5px
  background-color: var(--widget-background-color)
  box-shadow: var(--around-shadow-style)
  margin-left: 3.75px
  margin-right: 3.75px
  a
    padding: 0px
.nav-item-normal .nav-label
  &:hover
    color: var(--link-color)
.nav-item-current
  background-color: var(--code-color)
  cursor: default 
  .nav-label
    color: $tbody-background-color