// default color
:root
  --text-color: $text-color
  --text-strong-color: $text-strong-color
  --text-light-color: $text-light-color
  --text-white-color: $text-white-color
  --divider-color: $divider-color
  --title-color: $title-color
  --link-color: $link-color
  --post-link-color: $post-link-color
  --link-hover-color: $link-hover-color
  --info-text-color: $info-text-color
  --widget-background-color: $widget-background-color
  --body-background-color: $body-background-color
  --badge-background-color: $badge-background-color
  --badge-hover-background-color: $badge-hover-background-color
  --border-color: $border-color
  --pre-color: $pre-color
  --tbody-background-color: $tbody-background-color
  --code-color: $code-color
  --code-background-color: $code-background-color
  --core-area-background-color: #fafafa
  --blue-tag-color: $blue-tag-color
  --blockquote-color: $blockquote-color
  --note-primary-border-color: $note-primary-border-color
  --note-primary-color: $note-primary-color
  --note-success-border-color: $note-success-border-color
  --note-success-color: $note-success-color
  --note-info-border-color: $note-info-border-color
  --note-info-color: $note-info-color
  --note-warning-border-color: $note-warning-border-color
  --note-warning-color: $note-warning-color
  --note-danger-border-color: $note-danger-border-color
  --note-danger-color: $note-danger-color
  --highlight-comment-color: $highlight-comment-color
  --highlight-tag-color: $highlight-tag-color
  --highlight-attr-color: $highlight-attr-color
  --highlight-literal-color: $highlight-literal-color
  --highlight-keyword-color: $highlight-keyword-color
  --highlight-string-color: $highlight-string-color
  --highlight-builtin-color: $highlight-builtin-color
  --base-shadow-color:  $base-shadow-color
  --around-shadow-style: $around-shadow-style
  --tag-shadow-style: $tag-shadow-style
  --image-filter-style: $image-filter-style