<div class="categories-card">
  <div class="categories-header">
    <%- __('categories.title') %>
  </div>
  <div class="categories-list">
    <% for(const item of site.categories.data) { %>
      <a href="<%= url_for(item.path) %>">
        <div class="categories-list-item">
          <%= item.name %>
          <span class="categories-list-item-badge"><%= item.posts.length %></span>
        </div>
      </a>
    <% } %>
  </div>
</div>