doctype html
html(lang='en')
    include _partial/head.pug
    block more
        if theme.highlight.highlight
            link(rel='stylesheet', type='text/css', href=url_for(theme.plugins) + '/highlight/'+ (theme.highlight.highlight_theme) +'.min.css')
            script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js')
            script.
                hljs.addPlugin({
                    "before:highlightBlock": ({ block }) => {
                         block.innerHTML = block.innerHTML.replace(/\n/g, '').replace(/<br[ /]*>/g, '\n');
                    },
                    "after:highlightBlock": ({ result }) => {
                          result.value = result.value.replace(/\n/g, "<br>");
                    }
                });
                
        script.
            $(document).ready(function() {
                $(".m-nav a").hover(function() {
                    $(this).prev().addClass("dot-hover")
                }, function() {
                    $(this).prev().removeClass("dot-hover")
                })

                $(".navbar-icon").click(function() {
                    if((!$(".navbar-icon").hasClass("icon-click")) && (!$(".navbar-icon").hasClass("icon-out")))
                        $(".navbar-icon").toggleClass("icon-click");
                    else
                        $(".navbar-icon").toggleClass("icon-click icon-out");
                    $("#menu").toggleClass("h-wrapper mobile-menu");
                    $("#container").toggleClass("translate");
                });

                $("#container").click(function() {
                    if($(".navbar-icon").hasClass("icon-click")) {
                        $(".navbar-icon").toggleClass("icon-click icon-out");
                        $("#menu").toggleClass("h-wrapper mobile-menu");
                        $("#container").toggleClass("translate");
                    }
                });
                $(window).scroll(function() {
                    var height = $(window).scrollTop();
                    if (height > 300) {
                        $('#back2Top').fadeIn(500);
                    } else {
                        $('#back2Top').fadeOut(500);
                    }
                });
                $("#back2Top").click(function(event) {
                    event.preventDefault();
                    $("html, body").animate({ scrollTop: 0 }, "slow");
                    return false;
                });
            });

    body.night
        #mobile-head.mobile-head
            include _partial/mobile-head-nav.pug
        #menu.h-wrapper
            include _partial/nav-menu.pug
        #back2Top
            a(class='fa fa-arrow-up' title='Back to top' href='#')
        #container.box
            .l-wrapper: .l-content.box
                block content
                include _partial/footer.pug
        include _partial/after-footer.pug
